html,body{
	height: 100%;
}

#container{
	max-width: 6.25rem;
	margin: 0 auto;
	height: 100%;
	position: relative;
	overflow: hidden;
	perspective: 10rem;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

/********************pages**********************/

#all-wrapper{
	max-width: 6.25rem;
	height: 100%;
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition:-webkit-transform 0.2s ease-in;
	-moz-transition:-moz-transform 0.2s ease-in;
	-o-transition:-o-transform 0.2s ease-in;
	transition:transform 0.2s ease-in;
}

.mode-normal{
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.mode-active{
	-webkit-transform: translate3d(70%,0,0);
	-moz-transform: translate3d(70%,0,0);
	-o-transform: translate3d(70%,0,0);
	transform: translate3d(70%,0,0);
}

.page{
	position: relative;
	height: auto;
	z-index: 1;
}

#menupage{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #0ff;
	left: -90%;
	top: 0;
	z-index: 0;
	-webkit-transition:-webkit-transform 0.3s ease-in;
	-moz-transition:-moz-transform 0.3s ease-in;
	-o-transition:-o-transform 0.3s ease-in;
	transition:transform 0.3s ease-in;
}

.mode-active #menupage{
	-webkit-transform: translate3d(20%,0,0);
	-moz-transform: translate3d(20%,0,0);
	-o-transform: translate3d(20%,0,0);
	transform: translate3d(20%,0,0);
}

#homepage{
	background: #c0c0c0;
	height: 100%;
}


.mode-active #homepage{
	box-shadow: 0rem 0rem 0.3rem rgba(134,103,103,0.8);
}

#page-box{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 100%;
	top: 0rem;
	z-index: 2;
	background: #a34c5e;
	overflow: hidden;
	-webkit-transition:-webkit-transform 0.3s ease-in;
	-moz-transition:-moz-transform 0.3s ease-in;
	-o-transition:-o-transform 0.3s ease-in;
	transition:transform 0.3s ease-in;
}

#page-box:after{
	content: "";
	display: block;
	clear: both;
	float: none;
}

.page-normal{
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.page-active{
	-webkit-transform: translate3d(-100%,0,0);
	-moz-transform: translate3d(-100%,0,0);
	-o-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

#page-menu{
	position: relative;
	height: auto;
	background: #ffffff;
	z-index: 1;
}

#page-detail{
	position: fixed;
	left: 100%;
	top: 0%;
	background: #bb88aa;
	z-index: 2;
}

.page-frame{
	width: 100%;
	min-height: 100%;
	-webkit-transition:-webkit-transform 0.3s ease-in;
	-moz-transition:-moz-transform 0.3s ease-in;
	-o-transition:-o-transform 0.3s ease-in;
	transition:transform 0.3s ease-in;
}

.detail-normal{
	-webkit-transform: translate3d(0%,0,0);
	-o-transform: translate3d(0%,0,0);
	-moz-transform: translate3d(0%,0,0);
	transform: translate3d(0%,0,0);
}

.detail-active{
	-webkit-transform: translate3d(-100%,0,0);
	-o-transform: translate3d(-100%,0,0);
	-moz-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

/************utils************/
.page-header{
	position: relative;
	height: 0.8rem;
	background: #66ccff;
	z-index: 1000;
}

.menu,.back{
	position: absolute;
	left: 0.25rem;
	width: 0.6rem;
	height: 0.6rem;
	top: 0.1rem;
	font-size: 0.2rem;
	line-height: 0.7rem;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);  
	-webkit-tap-highlight-color: transparent;
}

.page-title{
	position: relative;
	height: 100%;
	text-align: center;
	color: #fff;
	line-height: 0.8rem;
	font-size: 0.3rem;
}

.img-item{
	max-width: 2rem;
	width: 100%;
	float: left;
	text-align: center;
}

.lazy-img[data-status="unload"]{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0.25rem;
	height: 0.25rem;
	margin-top: -0.125rem;
	margin-left: -0.125rem;
}

.lazy-img[data-status="loaded"]{
	position: relative;
	top: 0;
	left: 0;
	max-width: 100%;
	width: auto;
	height: auto;
	margin-top: 0rem;
	margin-left: 0rem;
}

.page-wrapper{
	position: absolute;
	left: 0rem;
	right: 0rem;
	top: 0.8rem;
	bottom: 0rem;
	overflow: hidden;
}


/***************************/
@font-face {
  font-family: "page-icon-font";
  src: url('../fonts/iconfont.eot?t=1488527033216'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1488527033216#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1488527033216') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1488527033216') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1488527033216#iconfont') format('svg'); /* iOS 4.1- */
}

.menu:before{
	font-family: "page-icon-font";
	content: "\e61e";
	position: absolute;
	font-size: 0.4rem;
	color: #fff;
	top: -0.04rem;
}

.back:before{
	font-family: "page-icon-font";
	content: "\e616";
	position: absolute;
	font-size: 0.4rem;
	color: #fff;
	top: -0.04rem;
}