/*************reset****************/
html{color:#333;-webkit-text-size-adjust:none;font-family: 'Microsoft Yahei';height: auto;font-size:120px;}
body{height: auto;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,var,optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}
body{font-size:12px;}
a{color: #333333;text-decoration: none;}
a:hover{text-decoration:none; cursor: pointer; color:#c00;}
span,a,p{
	font-family: "Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;
}

@media screen and (max-width:678px){
	html{
		font-size: 108.48px;
	}
}

@media screen and (max-width:640px){
	html{
		font-size: 102.4px;
	}
}

@media screen and (max-width:576px){
	html{
		font-size: 92.16px;
	}
}

@media screen and (max-width:540px){
	html{
		font-size: 86.4px;
	}
}

@media screen and (max-width:512px){
	html{
		font-size: 81.92px;
	}
}

@media screen and (max-width:480px){
	html{
		font-size: 76.8px;
	}
}

@media screen and (max-width:435px){
	html{
		font-size: 69.6px;
	}
}

@media screen and (max-width:414px){
	html{
		font-size: 66.24px;
	}
}

@media screen and (max-width:400px){
	html{
		font-size: 64px;
	}
}

@media screen and (max-width:375px){
	html{
		font-size: 60px;
	}
}

@media screen and (max-width:360px){
	html{
		font-size: 57.6px;
	}
}

@media screen and (max-width:320px){
	html{
		font-size: 51.2px;
	}
}