.css3DM-wrapper{
	position: relative;
	width: 800px;
	height: auto;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.css3DM-videoBox{
	position: relative;
	height: auto;
	width: 100%;
}

.css3DM-videoBox video{
	position: relative;
	max-width: 100%;
	width: 100%;
	border: none;
	box-shadow: none;
}

.css3DM-DMBox{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	left: 0px;
	top: 0px;
	overflow: hidden;
}

.css3DM-DMList{
	position: absolute;
	width: 100%;
	height: 40px;
	left: 100%;
}

.css3DM-DMList:after{
	content: "";
	display: block;
	clear: both;
}

.css3DM-DMList[data-type="start"]{
	-webkit-transition:-webkit-transform 6s linear;
	-moz-transition:-moz-transform 6s linear;
	-o-transition:-o-transform 6s linear;
	transition:transform 6s linear;
}

.css3DM-DMList[data-type="fastStart1"]{
	-webkit-transition:-webkit-transform 4s linear;
	-moz-transition:-moz-transform 4s linear;
	-o-transition:-o-transform 4s linear;
	transition:transform 4s linear;
}

.css3DM-DMList[data-type="fastStart2"]{
	-webkit-transition:-webkit-transform 5s linear;
	-moz-transition:-moz-transform 5s linear;
	-o-transition:-o-transform 5s linear;
	transition:transform 5s linear;
}

.css3DM-DMList[data-type="fastStart3"]{
	-webkit-transition:-webkit-transform 4.5s linear;
	-moz-transition:-moz-transform 4.5s linear;
	-o-transition:-o-transform 4.5s linear;
	transition:transform 4.5s linear;
}

.css3DM-DMList[data-type="fastStart4"]{
	-webkit-transition:-webkit-transform 7s linear;
	-moz-transition:-moz-transform 7s linear;
	-o-transition:-o-transform 7s linear;
	transition:transform 7s linear;
}

.css3DM-DMList[data-type="fastStart5"]{
	-webkit-transition:-webkit-transform 6.5s linear;
	-moz-transition:-moz-transform 6.5s linear;
	-o-transition:-o-transform 6.5s linear;
	transition:transform 6.5s linear;
}

.css3DM-DMList[data-status="running"]{
	-webkit-transform:translateX(-150%) translateZ(0);
	-moz-transform:translateX(-150%) translateZ(0);
	-o-transform:translateX(-150%) translateZ(0);
	transform:translateX(-150%) translateZ(0);
}

.css3DM-DMList[data-status="stop"]{
	-webkit-transform:translateX(0%);
	-moz-transform:translateX(0%);
	-o-transform:translateX(0%);
	transform:translateX(0%);
}

.css3DM-DMList[data-row="1"]{
	top: 10px;
}

.css3DM-DMList[data-row="2"]{
	top: 60px;
}

.css3DM-DMList[data-row="3"]{
	top: 110px;
}

.css3DM-DMList[data-row="4"]{
	top: 160px;
}

.css3DM-DMList[data-row="5"]{
	top: 210px;
}

.css3DM-DMList[data-row="6"]{
	top: 260px;
}

.css3DM-DMList[data-row="7"]{
	top: 310px;
}

.css3DM-DMphoto{
	position: relative;
	width: 30px;
	height: 30px;
	float: left;
	overflow: hidden;
	border-radius: 50%;
	border: 5px #fff solid;
}

.css3DM-DMtext{
	position: relative;
	float: left;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	color: #222;
	font-family: "Microsoft Yahei";
	padding-left: 6px;
}